*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    color: #333;
    background-color:#d1cbcb;
    font-family: Arial, sans-serif;
}
.container-card{
    display: flex;
    flex-direction: column;
    height: 180vh auto;
    border-radius: 10px;
    background-color: #ddd;
    padding: 20px;
    max-width: 100vh;
    margin-left: 25%;
}
.recipe-card{
    background-color: #fff;
    border-radius: 10px;
    width: 100% auto;
}
.recipe-img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;   
}
.prep{
    display: inline;
    background-color: rgba(253, 182, 194, 0.473);
    border-radius: 10px;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgba(165, 42, 42, 0.76);
}
p{
    margin-bottom: 20px;
    line-height: 1.6;
}
ul,ol{
    margin-bottom: 20px;
    padding: 20px;
}
li{
    padding: 7px;
}
table{
    width: 100% auto;
    margin-bottom: 20px;
}
table th,table td{
    border: 1px solid #917f7f;
    padding: 8px;
    text-align: center;
}
table th{
    background-color: #f2f2f2;
    font-weight: bold;
}